<div class="div_container">
  <mat-progress-bar *ngIf="spinnerFlag==0" mode="indeterminate"></mat-progress-bar>
    
    <h1>YOUR PROFILE</h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element[0]}} </td>
      </ng-container>
      
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let element"> {{element[1]}} </td>
      </ng-container>
    
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <br />
    
    <div *ngIf='currentUser.role!="CLIENT"'>
      <button mat-raised-button routerLink="/employees/{{currentUser.id}}" color="warn">Show employee profile</button>
    </div>
    <div *ngIf='currentUser.role=="CLIENT"'>
      <button mat-raised-button routerLink="/clients/{{currentUser.id}}" color="warn">Show client profile</button>
    </div>

    <br />

    <mat-accordion class="accordion">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Change your password
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="form" (ngSubmit)="changePassword()" class="password-form">
          <mat-form-field>
              <mat-label>Enter your old password</mat-label>
              <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="old_password" required>
              <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field>
    
          <mat-form-field>
            <mat-label>Enter your new password</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="new_password" required>
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Repeat your new password</mat-label>
            <input matInput [type]="hide3 ? 'password' : 'text'" formControlName="rep_password" required>
            <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3">
              <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          
          <button class="button" mat-raised-button color="warn">Submit</button>
        </form>
      </mat-expansion-panel>  
    </mat-accordion>

    
</div>
