.div_container {
    margin: 2vh 5%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: black !important;
}

mat-label {
    color: black;
}

.documents {
    width: 100vh;
}