<div class="div_container">
  <mat-progress-bar *ngIf="spinnerFlag!=3" mode="indeterminate"></mat-progress-bar>
    
    <h1>EMPLOYEE PROFILE</h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element[0]}} </td>
        </ng-container>
        
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Value </th>
          <td mat-cell *matCellDef="let element"> {{element[1]}} </td>
        </ng-container>
      
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div *ngIf="currentUser?.id==employee?.admin">
        <br />

        <div>
          <form (ngSubmit)="changeRole()" class="register-form">
              <mat-form-field appearance="fill">
                  <mat-label>Change role</mat-label>
                  <select matNativeControl [(ngModel)]="selectedRole" name="role_select" required>
                    <option value="2" selected>USER</option>
                    <option value="1">ADMIN</option>
                  </select>
              </mat-form-field>
              <button mat-raised-button color="warn">Change</button>
          </form>
        </div>

        <br />

        <div *ngIf="clientsLoaded | async">
          <form (ngSubmit)="assignClient()" class="register-form">
              <mat-form-field appearance="fill">
                  <mat-label>Assign Employee</mat-label>
                  <select matNativeControl [(ngModel)]="selectedClient" name="client_select" required>
                    <option 
                    *ngFor="let client of availableClients" 
                    [value]="client.id">
                      {{ client.company.name }}: {{ client.last_name }} {{ client.first_name}}
                      
                    </option>
                  </select>
              </mat-form-field>
              <button mat-raised-button color="warn">Assign</button>
          </form>
        </div>
      </div>
      <br />

      <mat-accordion *ngIf="employee?.role=='ADMIN' || employee?.role=='AO_ADMIN'" class="accordion">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Employees
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table mat-table [dataSource]="employees" class="mat-elevation-z8 clients">
 
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element1"> {{element1.id}} </td>
            </ng-container>
            
            <ng-container matColumnDef="first_name">
              <th mat-header-cell *matHeaderCellDef> First Name </th>
              <td mat-cell *matCellDef="let element1"> {{element1.first_name}} </td>
            </ng-container>
    
            <ng-container matColumnDef="last_name">
                <th mat-header-cell *matHeaderCellDef> Last Name </th>
                <td mat-cell *matCellDef="let element1"> {{element1.last_name}} </td>
              </ng-container>
          
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element1"> {{element1.username}} </td>
            </ng-container>

            <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef> More Info </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-raised-button routerLink="/employees/{{element.id}} " color="warn">More Info</button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="employeeDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: employeeDisplayedColumns;"></tr>
          </table>
        </mat-expansion-panel>  
      </mat-accordion>

      <br />

      <mat-accordion class="accordion">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Clients
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table mat-table [dataSource]="clients" class="mat-elevation-z8 clients">
 
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element1"> {{element1.id}} </td>
            </ng-container>
            
            <ng-container matColumnDef="first_name">
              <th mat-header-cell *matHeaderCellDef> First Name </th>
              <td mat-cell *matCellDef="let element1"> {{element1.first_name}} </td>
            </ng-container>
    
            <ng-container matColumnDef="last_name">
                <th mat-header-cell *matHeaderCellDef> Last Name </th>
                <td mat-cell *matCellDef="let element1"> {{element1.last_name}} </td>
              </ng-container>
          
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element1"> {{element1.username}} </td>
            </ng-container>
    
            <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef> Company </th>
                <td mat-cell *matCellDef="let element1"> {{element1.company.name}} </td>
            </ng-container>

            <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef> More Info </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-raised-button routerLink="/clients/{{element.id}} " color="warn">More Info</button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="clientDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: clientDisplayedColumns;"></tr>
          </table>
      </mat-expansion-panel>  
    </mat-accordion>
</div>

