.div_container {
    margin: 2vh 5%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.menu_panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

mat-grid-tile {
    background: lightblue;
    color: grey;
}