<div class="div_container">
    <h1>USER PANEL</h1>
    <div class="menu_panel">
        <mat-grid-list cols="2" rowHeight="2:1">
            <a routerLink="/work" routerLinkActive="active"><mat-grid-tile>WORK MANAGEMENET</mat-grid-tile></a>
            <a routerLink="/clients" routerLinkActive="active"><mat-grid-tile>CLIENT MANAGEMENT</mat-grid-tile></a>
            <a routerLink="/calendar" routerLinkActive="active"><mat-grid-tile>CALENDAR</mat-grid-tile></a>
            <a routerLink="/profile" routerLinkActive="active"><mat-grid-tile>PROFILE</mat-grid-tile></a>
        </mat-grid-list>
    </div>
</div>
