<div class="div_container">
    <h1>USER PANEL</h1>
    <div class="menu_panel">
        <mat-grid-list cols="2" rowHeight="2:1">
            <div *ngIf="currentUser?.role === 'USER' || currentUser?.role === 'ADMIN' || currentUser?.role === 'AO_ADMIN'">
                <a routerLink="/work" routerLinkActive="active"><mat-grid-tile>WORK MANAGEMENET</mat-grid-tile></a>
                <a routerLink="/clients" routerLinkActive="active"><mat-grid-tile>CLIENTS MANAGEMENT</mat-grid-tile></a>
            </div>
            <div *ngIf="currentUser?.role === 'ADMIN' || currentUser?.role === 'AO_ADMIN'">
                <a routerLink="/employees" routerLinkActive="active"><mat-grid-tile>EMPLOYEES MANAGEMENET</mat-grid-tile></a>
                <a routerLink="/register-cc" routerLinkActive="active"><mat-grid-tile>ADD CLIENT COMPANY</mat-grid-tile></a>
            </div>
            <div *ngIf="currentUser?.role === 'CLIENT'">
                <a routerLink="/aocontact" routerLinkActive="active"><mat-grid-tile>ACCOUNTING OFFICE CONTACT</mat-grid-tile></a>
                <a routerLink="/actions" routerLinkActive="active"><mat-grid-tile>ACTIONS</mat-grid-tile></a>
            </div>
            <a routerLink="/calendar" routerLinkActive="active"><mat-grid-tile>CALENDAR</mat-grid-tile></a>
            <a routerLink="/profile" routerLinkActive="active"><mat-grid-tile>PROFILE</mat-grid-tile></a>
        </mat-grid-list>
    </div>
</div>
