<div class="all">

  <p class="p-header">
    <mat-toolbar class="header">
      <a class="navbar-brand" (click)="routeLogo()" translate>app.title</a>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon routerLink="/user-home">home</mat-icon>
      </button>

      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)='changeLang("pl")'>PL</button>
        <button mat-menu-item (click)='changeLang("en")'>ENG</button>
      </mat-menu>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon a (click)="onLogout()">logout</mat-icon>
      </button>
    </mat-toolbar>
  </p>

  <!-- <mat-sidenav-container class="container_class">  
    <mat-sidenav-content> -->
  <router-outlet class="body"></router-outlet>
    <!-- </mat-sidenav-content>
  </mat-sidenav-container>   -->
</div>

