.sidenav_class {
    /* min-width: 10vh; */
    padding: 2vh 2vh;
    /* background-color: rgba(100, 0, 0); */
    background-color: rgb(70, 70, 70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-right: 4px black;
    color: white;
}

.navbar {
    /* background-color: rgb(30, 214, 30)!important; */
    background-color: rgb(83, 186, 255)!important;
    color: white;
    border-bottom: 4px black;
}

.navbar-brand {
    color: white;
}

.container_class {
    min-height: 100vh;
    background: rgb(230, 230, 230);
    color: black;
}