<div class="all">

  <p class="p-header">
    <mat-toolbar class="header">
      <a class="navbar-brand" (click)="routeLogo()">{{title}}</a>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon routerLink="/user-home">home</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon a (click)="onLogout()">logout</mat-icon>
      </button>
    </mat-toolbar>
  </p>

  <!-- <mat-sidenav-container class="container_class">  
    <mat-sidenav-content> -->
  <router-outlet class="body"></router-outlet>
    <!-- </mat-sidenav-content>
  </mat-sidenav-container>   -->
</div>

