<div class="div_container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="event-form">
      
      <h1>Add Event</h1>
      <mat-form-field class="login-full-width">
        <mat-label>Start Date</mat-label>
        <input matInput formControlName="start_date" type="datetime-local" required>
      </mat-form-field>
      
      <mat-form-field class="login-full-width">
        <mat-label>End Date</mat-label>
        <input matInput formControlName="end_date" type="datetime-local" required>
      </mat-form-field>

      <mat-form-field class="login-full-width">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" required>
      </mat-form-field>
      
      <mat-form-field class="login-full-width">
        <input hidden=true matInput> 
        <!-- <mat-label>All Day</mat-label>
        <input matInput formControlName="all_day" type="checkbox" required> -->
        <mat-checkbox class="example-margin" formControlName="all_day" required>All Day</mat-checkbox>
      </mat-form-field>

      <button class="button" mat-raised-button color="warn">Submit</button>
      <button class="button" (click)="onNoClick()" mat-raised-button color="warn">Cancel</button>
    </form>
</div>
