.div_container {
    margin: 2vh 5%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.event-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* color: white !important; */
}

mat-label {
    color: black;
}

mat-checkbox {
    color: black;
}